@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

.foo {
  background-color: #f8f8f8;
  border: 1px;
  border-radius: 10px;
  font-family: "Poiret One", cursive;
}

.foolinks {
  text-decoration: none;
  font-size: large;
  color: black;

  @media hover {
    text-decoration: underline;
  }
}

.addy {
  text-decoration: none;
  font-size: larger;
  color: black;

  @media hover {
    text-decoration: underline;
  }
}
